.Bookstore-CMS {
  width: 100%;
  height: 1097px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}
.panel-bg {
  height: 50px;
  padding: 29px 0 29px 100px;
  background-color: #ffffff  ;
}
.brand {
  width: 240px;
  height: 37px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin-right: 27px;
}
.Books {
  width: 59px;
  height: 16px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-right: 27px;
}

.Categories {
  width: 30%;
  height: 16px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.filterContainer {
   margin: 0 10px 10px 100px;
}
.filter {
    width: 285px;
    height: 45px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #ffffff;
}

.container {
  width: 80%;
  height: 170px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  margin: 10px 10px 10px 100px;
  padding: 15px;
}

.mainSection {
  display: inline-block;
  width: 40%;
}

.secondarySection {
  display: inline-block;
  width: 30%;
}

.btn {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  border: solid 1px #a8a5a5;
  outline: none;
}
.btn:active {
  background-color: #a8a5a5;
}
.btn:hover {
  background-color: #0291ffa4 ;
}

.bookTitle {
  width: 40%;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}
.formContainer {
  margin-left: 100px;
}

.categoryText {
  width: 49px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}
.text {
  opacity: 0.5;
}
.blueText{
  opacity: 0.7;
  color:#4386bf
}

.Rectangle {
  width: 90px;
  height: 89.9px;
}

.Oval-1 {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.spinnerSection{
  display: inline-block;
  width: 50%;
}

.title {
  margin-left: 100px;
  color: #888888;
  font-weight: bold;
  text-transform: uppercase;
}